:root {
  --primary: #2600ff;
  --bg: #ffffff;
  --secondary-color: #ff8000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

/* Global Styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 1500px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: var(--bg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary);
  font-style: italic;
}

.navbar .navbar-logo span {
  color: #ff8000;
}

/* Navbar Navigation */
/* Menggeser navbar-nav ke kanan */
.navbar .navbar-nav {
  display: flex;
  align-items: center;
  margin-left: auto; /* Mendorong elemen ke kanan */
}

.navbar .navbar-nav a {
  color: var(--primary);
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
  text-align: center;
  position: relative;
  transition: color 0.3s ease;
}

.navbar .navbar-nav a:hover {
  color: var(--secondary-color);
}

/* membuat garis bawah untuk hover nya */
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #ff8000;
  transform: scaleX(0);
}

/* Underline saat di hover muncul */
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
  transition: 0.2s linear;
}

/* extra sebelah kanan */
.navbar .navbar-extra a {
  color: var(--primary);
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

/* Activate Button */
.activate-btn {
  --primary-color: #ff8000;
  --primary-color-hover: #2600ff;
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 9px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.activate-btn:hover {
  background-color: var(--primary-color-hover);
  color: #ffffff;
}

/* style untuk desktop 1920px*/
#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  text-align: center;
}

.hero .content {
  padding: 1.4rem;
  max-width: 60rem;
  text-align: center;
}

/* Title Section */
.hero .content h1 {
  font-size: 2.5em;
  color: #2600ff;
  font-weight: 900;
  line-height: 1.2;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.hero .content h1 span {
  color: var(--primary);
}

/* Subtitle Section */
.hero .content p {
  font-size: 1.2rem;
  color: #4f4f4f;
  /* color: #828282; */
  margin-top: 1rem;
  line-height: 1.6rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
}

/* Input Box Generate Kebawah*/
.hero .content .input-box {
  margin-top: 2rem;
  display: flex;
  flex-direction: column; /* memisah input dan button kebawah */
  align-items: center; /*agar elemennya tepat di tengah*/
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.hero .content input[type="text"] {
  width: 100%;
  padding: 0.8rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  margin-bottom: 1rem;
}

.hero .content .cta {
  padding: 0.8rem 1.5rem;
  background-color: #2600ff;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  /* font-size: 1rem; */
  cursor: pointer;
  text-align: center;
}

.hero .content .cta:hover {
  background-color: #ff8000;
}

/* Input Box Generate Kepinggir*/
/* .hero .content .input-box {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  
  .hero .content input[type="text"] {
    width: 300px;
    padding: 0.8rem;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    outline: none;
  }
  
  .hero .content .cta {
    padding: 0.8rem 1.5rem;
    background-color: #2600ff;
    color: #ffffff;
    border: none;
    border-radius: 0 0.5rem 0.5rem 0;
  
    cursor: pointer;
  } */
/* font-size: 1rem; */

/* .hero .content .cta:hover {
    background-color: #ff8000;
  } */

/* Partner Section */
.partners-section {
  text-align: center;
  margin-top: 2rem;
}

.partners-section h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #37424f;
  margin-bottom: 1rem;
}

.partners-section .partners {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners-section .partners img {
  width: 50px;
  margin: 0 15px;
  transition: transform 0.3s ease;
}

.partners-section .partners img:hover {
  transform: scale(1.1);
}

/* Logo Partner Section */
.hero .partners {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.hero .partners img {
  width: 40px;
  margin: 0 15px;
}

/* About Section */
.about {
  padding: 8rem 7% 1.4rem;
}

.about h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 30%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.6;
}

/* Responsive Design */
/* @media (max-width: 768px) {
    .navbar .navbar-nav {
      display: none;
    }
  
    #hamburger-menu {
      display: block;
      cursor: pointer;
    }
  } */
