* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background: linear-gradient(to bottom right, #0c08e7, #e15c15);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.verification-box {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #333;
}

p {
  margin-bottom: 10px;
  color: #555;
}

p span {
  font-weight: bold;
  color: #000;
}

.code-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.code-inputs input {
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: border-color 0.3s;
}

.code-inputs input:focus {
  border-color: #a58be7;
  outline: none;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #1305e3;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #829df6;
}

.resend-text {
  margin-top: 20px;
  color: #333;
}

.resend-text a {
  color: #0000ff;
  text-decoration: none;
  font-weight: bold;
}

.resend-text a:hover {
  text-decoration: underline;
}
