<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Short URL</title>
    <link rel="stylesheet" href="/assets/css/gengen.css" />
  </head>
  <body>
    <div class="container">
      <button class="go-back" onclick="goBack()">Go Back</button>

      <div class="card">
        <h2>Create Short URL</h2>
        <div class="content">
          <div class="left-section">
            <div class="info">
              <p>
                <strong>Short URL:</strong>
                <span id="shortlink-title"></span>
                <!-- <span id="shortlink-title">http://localhost:8000/</span> -->
                <!-- <a href="#">edit back-half</a> -->
              </p>
              <p>
                <strong>Destination URL:</strong>
                <span id="shortlink-url"></span>
                <!-- <span id="shortlink-url">https://www.polban.ac.id/</span> -->
                <!-- <a href="#">redirect</a> -->
              </p>
            </div>
            <button id="copy-short-url-btn" class="copy-url-btn">
              Copy Short URL
            </button>
          </div>
          <div class="right-section">
            <div class="qr-code">
              <canvas id="qr-code-canvas" width="150" height="150"></canvas>
            </div>
            <div class="buttons">
              <button id="copy-btn">Copy</button>
              <button id="download-btn">Download</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/assets/js/gengen.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcode-generator/1.4.4/qrcode.min.js"></script>
    <script>
      feather.replace(); // Initialize Feather icons
    </script>
  </body>
</html>
