<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shortlink URL</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- Feather Icons -->
    <script src="https://unpkg.com/feather-icons"></script>

    <!-- My Style -->
    <link rel="stylesheet" href="assets/css/landingpage.css" />
  </head>

  <body>
    <!-- <header>
      <nav>
        <a href="shortlink.html" class="nav-link">Shortlink</a>
        <a href="qrcode.html" class="nav-link">QR Code</a>
        <a href="help.html" class="nav-link">Help</a>
        <a href="aktivasi.html" class="activate-btn">Aktivasi</a>
      </nav>
    </header> -->

    <!-- Navbar Start -->
    <nav class="navbar">
      <a href="#" class="navbar-logo">Polban<span>ers</span>.</a>

      <div class="navbar-nav">
        <a href="#shortlink">Shortlink</a>
        <a href="#qrcode">QR Code</a>
        <a href="#help">Help</a>
        <a href="#aktivasi" class="activate-btn">Aktivasi</a>
      </div>

      <div class="navbar-extra">
        <a href="#" id="hamburger-menu"><i data-feather="menu"></i></a>
      </div>
    </nav>
    <!-- Navbar End -->

    <!-- Hero Section Start -->
    <section class="hero" id="shortlink">
      <main class="content">
        <h1>Create link that perform with our</h1>
        <h1>URL Shortener</h1>
        <p>
          Spark instant connections with your audience using trimmed,
          trustworthy, and trackable links
        </p>

        <!-- Input dan Button -->
        <div class="input-box">
          <input type="text" placeholder="Place your URL here..." />
          <button class="cta">Shorten Your Link</button>
        </div>

        <p style="margin-top: 1.5rem">
          Over 20% internet user and around 1.000 companies use Inverse CIA
        </p>

        <!-- Partner Logos -->
         <section class="partners-section">
          <p style="margin-top: 1.5rem">
            Partner in Policy
          </p>
          <div class="partners">
            <img src="assets/img/polban.png" alt="Partner 1" />
            <!-- <img src="logo2.png" alt="Partner 2" />
            <img src="logo3.png" alt="Partner 3" />
            <img src="logo4.png" alt="Partner 4" />
            <img src="logo5.png" alt="Partner 5" /> -->
          </div>
      </section>
         </section>
    <!-- Hero Section End -->

    <!-- About Section Start -->
    <section id="about" class="about">
      <h2>External things are not the problem</h2>
    
      <div class="row">
        <div class="about-img">
          <img src="assets/img/gambar1.jpg" alt="Tentang Kami" />
        </div>
        <div class="content">
          <h3>Together We Are Stronger!</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui minus ab autem non dolores ratione.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
            libero veritatis magnam ab repellendus aliquid vel numquam cumque
            consectetur explicabo.
          </p>
        </div>
      </div>
    </section>
    <!-- About Section End -->
    
  </body>
</html>
